body {
  background-color: #fafafa;
  color: #222;
}

.navbar {
  background-color: #ffffff !important;
  border-bottom: 1px solid #e0e0e0;
}

.navbar .nav-link,
.navbar-brand {
  color: #333 !important;
}

.navbar .nav-link:hover {
  color: #000 !important;
}

.about img {
  border-radius: 12px;
}


